:root{
    --pink:#e84393;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 1rem 3.5rem ;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:yellowgreen;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color:#333;
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
} 

header .navbar a:hover{
    color: yellowgreen;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url("background1.jfif") no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 2rem;
    color: #333;
    padding: 1rem 1rem;
}

.home .content span{
    font-size: 1.5rem;
    color: black;
    padding: 1rem 2rem;
    line-height:1.5;
}

.form{
    width: 350px;
    height: 480px;
    background: linear-gradient(to top,rgb(0, 0, 0)50%,rgb(0, 0, 0)50%);
    position: absolute;
    top: 200px;
    right: 150px;
    border-radius: 10px;
    padding: 30px;
    
    
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:yellowgreen;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
}

.form input{
    width: 240px;
    height: 35px;
    background:transparent;
    border-bottom: 1px solid yellowgreen;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

form input:focus{
    outline: none;

}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: yellowgreen;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

.btnn:hover{
    background: white;
    color: yellowgreen;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.form .link a{
    text-decoration: none;
    color: yellowgreen;
}
















